.bigcontain{
    width: 80%;
    margin: 0 auto;
    padding-top: 30%;
    padding-bottom: 10%;
}

.user-info{
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.leaderboard{
    padding: 10px;
    background-color: #fff;
    border-radius: 16px;
    width: 100%;
}

.user-nameinfo div:nth-child(1){
    font-size: 4.2vw;
    font-family: "Montserrat-SemiBold", "Kanit-Medium";
    color: #102239;
}

.user-nameinfo div:nth-child(2){
    font-size: 4.2vw;
    font-weight: 700;
    color: #FFB3B9;
}

.user-info hr{
    transform: rotate(90deg);
    width: 25%;
}

.score{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.4em;
    align-items: flex-end;
    position: relative;
    padding-left: 20px;
    border-left: 2px solid #102239;
}
/*
.score::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: -35%;
    bottom: 0;
    background-color: #102239;
}*/

.ddd{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.ddd .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    width: 2.7em;
    height: 2.7em;
    background-color: #102239;
    border-radius: 100%;
}

.leader-nameinfo div:nth-child(1){
    font-size: 3.5vw; 
    font-family: "Montserrat-SemiBold", "Kanit-Medium";
    color: #102239;
}

.leader-nameinfo div:nth-child(2){
    font-size: 3.8vw;
    font-weight: 700;
    color: #FFB3B9;
}

.leader-score{
    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.leader{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    align-items: center;
}

.list{
    display: flex;
    align-items: center;
}

.leader-icon-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.leader-icons{
    justify-self: flex-end;
    width: 2.2em;
    height: 2.2em;
    background-color: #102239;
    border-radius: 100%;
    margin-right: 10px;
}

.leader-info{
    display: grid;
    grid-template-columns: 80% 20%;
    border-radius: 16px;
    padding: 0px 12px;
}

.leader-contain{
    height: 100%;
    width: 90%;
    margin: auto;
    padding-top: 5px;
    overflow-y: auto;
}

.rank{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.list-senior .leaders{
    padding-bottom: 10px;
}

.checklist .leaders{
    padding-bottom: 10px;
    margin-top: 5px;
}

.leaders{
    border-bottom: 2px solid #102239;
    margin: 10px 0;
}

.z{
    padding-bottom: 15px;
}

.leaders:nth-last-child(1){
    border: none;
}
.leaders:nth-child(1) .rank{
    color: #A08113;
}
.leaders:nth-child(2) .rank{
    color: #A2A2A2;
}
.leaders:nth-child(3) .rank{
    color: #736150;
}

.icon-cancel{
    filter: opacity(0.6);
}

.name-cancel{
    position: relative;
    color: rgba(16, 34, 57, 0.6) !important;
    width: min-content;
}

.hi label{
    font-size: 0.6em;
}

.name-cancel::before{
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115%;
    height: 2px;
    background-color: rgba(16, 34, 57, 0.8);
}

.class-cancel{
    position: relative;
    color: #FFB3B9;
    width: max-content;
}

.class-cancel::before{
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115%;
    height: 2px;
    background-color: #FFB3B9;
}

.leader-contain:nth-last-child() .leaders{
    border: none !important;
}

.locksize{
    height: 60vh;
}

@media screen and (min-width: 700px){
    .bigcontain{
        padding-top: 10%;
    }
    .leader-score{
        font-size: 1.8em;
    }
    .user-nameinfo div:nth-child(1){
        font-size: 1.8em;
    }
    .user-nameinfo div:nth-child(2){
        font-size: 1.8em;
    }
    .leader-nameinfo div:nth-child(1){
        font-size: 1.6em;
    }
    .leader-nameinfo div:nth-child(2){
        font-size: 1.6em;
    }
    .score{
        font-size: 1.6em;
    }
}